 h1{
    text-align: center;
    position: relative;
    font-size: 25px;
    text-shadow: 0px 0px 10px rgba(255,20,147,0.7);
}

    body{
        background-color: #d5ffdf;
    }
    .contain{
  position: absolute;
  left:300px;
  top:300px;
  z-index: 2;
  height: 300px;
  width: 300px;
  padding: 30px;
  color: white;
  font-family: arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  animation: fadeIn 1s forwards;
  background-color: rgba(0,0,0,0.3);
  border-radius: 10px;
  text-align: center;
     background-image: linear-gradient(
  to bottom,
  rgba(245, 130, 174, 0.3),
  rgba(255, 255, 255, 0.3)
),
url(Screenshot_20241127-200523_Instagram.jpg);
    background-position: center;
    background-size: cover;
    justify-content:center;
    align-items:center;
  
}
#in2 {
box-shadow: 0.5rem 1rem 3rem rgba(0, 0, 0, 0.7);
    font-family: arial, sans-serif;
    font-size : 15px;
    font-weight: bold;
    text-align: center;
    position:absolute;
    left: 70px;
    top: 180px;
    height:20px;
}
#btn1{
    font-family: arial, sans-serif;
    color: white;
    font-size : 20px;
    Font-style: italic;
    font-weight: bold;
    text-align: center;
    background-color: White;
    box-shadow: 0.5rem 1rem 3rem rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    border-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-image: URL(https://media2.giphy.com/media/ZkwbvaFT7ZaAU/giphy.gif?cid=6c09b952cxs7kiuubfcfuktb56c2rihcvkbs1qd5q2gzlwf2&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=g);    
    background-position: center;
    background-size: cover;
    position:relative;
    top:90px;
    z-index: 5;
    
}
p{
    font-family: arial, sans-serif;
    font-size : 15px;
    Font-style: italic;
    font-weight: bold;
    text-align: center;
    color: white;
   text-shadow: 0px 0px 10px rgba(255,20,147,0.7);
   z-index: 4;
    }
    #p1 {
        position: relative;
        top:35px;
    }
      #p2 {
        position: relative;
        top:73px;
    }
    
       @keyframes fadein
       {
           0% {
               opacity: 0;
           }
           100% 
           {
               opacity: 1;
           }
       }
       .pwd-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

#pwd{
box-shadow: 0.5rem 1rem 3rem rgba(0, 0, 0, 0.7);
    font-family: arial, sans-serif;
    font-size : 15px;
    font-weight: bold;
    text-align: center;
    position:absolute;
    left: 70px;
    top: 250px;
    height:20px;
    
}

.show-label {
  font-size: 14px;
  margin-top: 5px;
  color: white;
  font-family: Arial, sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  text-shadow: 0 0 5px rgba(255, 20, 147, 0.8);
  position: relative;
  top: 85px;
}

/* Optional: Beautify checkbox */
#showPwd {
  accent-color: #ff69b4; /* Hot pink */
  width: 16px;
  height: 16px;
  z-index: 20;
  
}